<div class="container" style="padding: 20px;">
    <div class="card">
      <div class="card-header">
        Songs:
        <div style="float: right;">
            <input placeholder="search" (input)="onSearch($event.currentTarget.value)" [value]="searchFilter$ | async" />
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <td>Title</td>
            <td>Artist</td>
            <td>Length</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let song of songsList$ | async" [routerLink]="['/', 'songs', 'info', song.songId]">
            <td>{{ song.title }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.length }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
